<!DOCTYPE html>
<html>
<head>
  <title>FeelTrip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.css">
  <link rel="stylesheet" href="/css/styles.css" >
  <link rel="stylesheet" href="/css/place.css" >
  <link rel="stylesheet" href="/css/weather.css" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
  <script src="/js/place-setview.js" charset="utf-8"></script>
  <script src="/js/place-setdata.js" charset="utf-8"></script>
  <title>FeelTrip</title>
</head>
<body>

<div class="page-wrapper">
  <h1 id="place"><%= name.toUpperCase().replace('-', ' '); %></h1>
  <p id="subtitle" class="dark-mint"><%= subtitle %></p>
  <div class="ui container">
  <div class="ui stackable grid">

    <div class="twitter-container ten wide column">

      <!-- Twitter Trends Section -->
      

      <!-- Tweets pulled from Twitter -->
      <div class="hidden" id="tweets-refreshed">
        
        <div class="ui left aligned vertical segment">
          <div class="section-header">Current Trends</div>
          <% tweets.forEach(function(tweet, index){ %>
          <div class="tweet">
            <p class="tweet-text"><%= tweet.text; %></p>
            <p class="info">-<span class="screen-name">@<%= tweet.screen_name; %></span><span>, </span><span class="posted-at"><%= tweet.posted_at %></span></p>
          </div>
          <% }); %>
        </div>
      </div>

        <!-- Tweets rendered from database -->
        <div class="ui left aligned vertical segment" id="tweets-saved">
        <div class="section-header">Saved Trends</div>
          <div class="tweet">
            <p class="tweet-text">Lorem #ipsum dolor sit amet, consectetur #adipisicing elit, sed do #eiusmod
            #tempor incididunt #ut labore et dolore magna aliqua.
            <p class="info">-<span class="screen-name">@thisisascreenname</span><span>, </span><span class="posted-at">Date here</span></p>
          </div>
          <div class="tweet">
            <p class="tweet-text">Lorem #ipsum dolor sit amet, consectetur #adipisicing elit, sed do #eiusmod
            #tempor incididunt #ut labore et dolore magna aliqua.
            <p class="info">-<span class="screen-name">@thisisascreenname</span><span>, </span><span class="posted-at">Date here</span></p>
          </div>
          <div class="tweet">
            <p class="tweet-text">Lorem #ipsum dolor sit amet, consectetur #adipisicing elit, sed do #eiusmod
            #tempor incididunt #ut labore et dolore magna aliqua.
            <p class="info">-<span class="screen-name">@thisisascreenname</span><span>, </span><span class="posted-at">Date here</span></p>
          </div>
        </div>


    </div>

    <!-- Weather Section -->

   <div class="weather-container six wide column">
     <span class="section-header">Weather</span>

     <div class="weather-wrapper">
       <br>

       <div id="weather-panel">
         <!-- <h2 id="city"></h2> -->
         <h3 id="temperature"></h3>
         <h2 id="weather-icon"></h2>
         <h3 id="description"></h3>
         <h3 id="humidity"></h3>
         <h3 id="wind"></h3>
       </div>
     </div>  <!-- end of wrapper-->


     <!--2nd weather module - data from forecast.io-->
     <!-- <div class="weather-wrapper2">
       <br>
       <hr>
       <div id="weather-panel2">
         <h2 id="city2"></h2>
         <h3 id="weather-icon2"></h3>
         <h3 id="description2"></h3>
         <h3 id="temperature2"></h3>
         <h3 id="humidity2"></h3>
         <h3 id="wind2"></h3>
       </div>
     </div>   -->
     <!-- end of wrapper2-->


   </div> <!--end of weather-container-->

  </div> <!-- End of stackable grid -->

  <hr>
  <p>
    <a href="/main">View All Places</a>
  </p>

  <!-- Navigation -->
  <nav>
    <a href='/place/<%=name%>?refresh=true' id="refresh"><i class="circular dark-mint refresh icon"></i></a>
    <i class="circular dark-mint save icon" id="save"></i>
    <i class="circular dark-mint sign out icon logout"></i>

  </nav>

  </div>
</div>



  <script src="../js/weather-scripts.js"></script>
</body>
</html>
